<h1>Homemade Dictionary</h1>

<h3>Your word bank</h3>

<% if @words.any? %>
  <ul>
    <% @words.each do |word| %>
    <li><a href="/words/<%= word.id %>"><%= word.word %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>Sorry, we haven't found any words yet!</p>
<% end %>

<h3>Would you like to add a word?</h3>

<form action="/words" method="post">
  <div class="form-group">
    <label for="word">Enter word:</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add</button>
</form>
