<h1>Add a new word!</h1>

<form action="/words" method="post">
  <div class="form-group">
    <label for="word">Enter word:</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add</button>
</form>
